body{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg');
    background-size: auto 100vh;
    font-family: arial;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: #000022;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    text-align: center;
    color: whitesmoke;
  }
  
  .site-subtitle {
    font-style: italic;
  }